.menu-main {
    height: 80px;
    background-color: #000f40;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; /* Adiciona posição relativa para o contexto de posicionamento absoluto */
}

.menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 32px;
    margin-left: 18px;
    margin-top: 20px;
    height: 80px;
    width: 80px;
    font-size: 40px;
    cursor: pointer;
}

.searchbar-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.btn-sandwich {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 20px;
    z-index: 1001; /* Garante que o botão esteja acima do menu */
}

.search-button {
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: grey;
    cursor: pointer;
}

.search-input {
    width: 80%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 4px 0 0 4px;
    background-color: white;
    border-right: none;
}

.sandwich-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.sandwich-icon div {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

.side-menu {
    width: 30%;
    background-color: #000f40;
    height: 100%;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    color: white;
    transform: translateX(100%); /* Começa fora da tela */
    opacity: 0; /* Começa invisível */
    transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out; /* Aumenta a duração da transição */
}

.side-menu.open {
    transform: translateX(0); /* Move para a posição visível */
    opacity: 1; /* Torna visível */
}

.menu-header {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
}

.menu-icon {
    margin-right: 10px;
}
